.button {
  padding: 0.5rem 1rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--primary-foreground);

  border-radius: var(--radius);
  border-style: none;

  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;

  opacity: 1;

  transition: opacity 100ms;

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.5;
  }
}
